@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: var(--white, #F7F3F3);
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 8px;
  width: 12px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 1px solid transparent;
  background-clip: content-box;
  background-color: #4831d4;
}